server:
  port: 8989
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/movies?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 5MB
#  freemarker:
#    #指定HttpServletRequest的属性是否可以覆盖controller的model的同名项
#    allow-request-override: false
#    #req访问request
#    request-context-attribute: req
#    #后缀名freemarker默认后缀为.ftl，当然你也可以改成自己习惯的.html
#    suffix: .html
#
#    #设置响应的内容类型
#    content-type: text/html;charset=utf-8
#    #是否允许mvc使用freemarker
#    enabled: true
#    #是否开启template caching
#    cache: false
#    #设定模板的加载路径，多个以逗号分隔，默认: [“classpath:/templates/”]
#    template-loader-path: classpath:/templates/
#    #设定Template的编码
#    charset: UTF-8
      #（默认开起）切换动态代理 false为JDK代理

  aop:
    proxy-target-class: false
mybatis-plus:
  configuration:
    # 日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto

oss:
  accessKey: x_itG-CUZucVbv-VokrHeW5LtpQkWu98SXHhU5PD
  secretKey: 7H57QdOne4neBXyPU4AhCWI5Us71AnFkneA2mPqX
  bucket: tyy-blog
